@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
<html>

<head>
    <script>

        function SaveNewIssue() {
            var Department = document.getElementById("Department").value;
            var CommenIssue = $("#CommenIssueTXT").val();
            if (Department == "-1") {
                swal("sorry,please select the Department");
                return;
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/SetupTickets/SaveCommenIssue?Department=" + Department + "&CommenIssue=" + CommenIssue,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function myfunction(andrew) {
                        swal({
                            title: "Succes",
                            text: "A New Commen Issue for ticketing has been saved.",
                            type: "success"
                        }, function () {
                            window.location.reload();
                            location.reload();
                        });

                        document.getElementById("Department").value = "-1"
                        document.getElementById("CommenIssue").value = ""
                        $("#ComminIssueCreateModalCenter").modal('hide');

                    }
                });
            }
    }
    </script>
</head>
<body>
    <div class="row">
        <div class="col-md-4 col-sm-2">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ComminIssueCreateModalCenter">Create a new</button>
        </div>
    </div>
    <div class="modal fade" id="ComminIssueCreateModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Create A New Commen Issue </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <dev class="row">
                            <div class="col-sm-4">
                                <label for="Department">Departments:</label>
                                <select class="js-example-basic-multiple" id="Department">
                                    <option value="-1">--Select A Department--</option>
                                    @foreach (var department in (IEnumerable<OctopaAudioApp.Models.SetupModels.AllowDEPToTicket>)ViewData["DepFilters"])
                                    {
                                        <option value="@department.Code">@department.Department</option>
                                    }
                                </select>
                            </div>
                        </dev>
                        <dev class="row">
                            <div class="form-group">
                                <label for="Manager">Commen Issue:</label>
                                <textarea class="form-control" id="CommenIssueTXT" rows="2"></textarea>
                            </div>
                        </dev>
                        <div>

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="button" id="btnSave" value="Save" class="btn btn-success" onclick="SaveNewIssue()" />
                </div>
            </div>
        </div>
    </div>

    <table class="table table-bordered table-hover" id="datatable-tabletools" style="text-align:center">
        <thead class="bg-dark">
            <tr>
                <th class="center">Code</th>
                <th class="center">Department</th>
                <th class="center">Issue</th>
                <th class="center">Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var CommenIssues in (IEnumerable<OctopaAudioApp.Models.SetupModels.CommenIssues>)ViewData["CommenIssueses"])
            {
                <tr>
                    <td id="lblCode">@CommenIssues.Code</td>
                    <td id="lblName">@CommenIssues.Department</td>
                    <td id="lblName">@CommenIssues.Issue</td>
                    <td><button type="button" class="btn btn-primary" onclick="Openedit(@CommenIssues.Code)">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
