@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
<html>
<head>
    <script>


        function SaveNewDEPTicket() {
            var Department = document.getElementById("Department").value;
            var Manager = $("#Manager").val();
            if (Department == "-1") {
                swal("sorry,please select the Department");
                return;
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/SetupTickets/SaveDEPFilter?Department=" + Department + "&Manager=" + Manager,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function myfunction(andrew) {
                        swal({
                            title: "Succes",
                            text: "A New Department for ticketing has been saved.",
                            type: "success"
                        }, function () {
                            window.location.reload();
                            location.reload();
                        });

                        document.getElementById("Department").value = "-1"
                        document.getElementById("Manager").value = "-1"
                        $("#DEPFilterCreateModalCenter").modal('hide');

                    }
                });
            }
        }
        function GETDEPData() {
            $.ajax({
                type: "GET",
                url: "/SetupTickets/getManagerAndDepartmentName",
                contentType: "application/json;charset=utf-8",
                data: "{}",
                dataType: "json",
                success: function (json) {
                    Data = json;
                    console.log(Data);
                    Draw();;
                    DrawDataTable();;
                }
            });
        }
        function Draw() {
            var html = ''
            for (var i = 0; i < Data.length; i++) {
                html += '<tr>'
                html += '<td>' + Data[i].code + '</td>'
                html += '<td>' + Data[i].department + '</td>'
                html += '<td>' + Data[i].englishName + '</td>'
                html += '<td>' + Data[i].allowTickting + '</td>'
                html += '<td>' + '<input type = "button" value = "Edit Status" data-toggle="modal" data-target="#EditStatus" onclick="ViewStatus(' + i + ')" class = "btn btn-sm btn-secondary">' + '</input>' + '</td>'

                html += '</tr>'
            }
            console.log(html);
            $('#DEPFilterBody').html(html);
        }
        function openEdit(id) {
            $.ajax({
                type: "POST",
                url: "/SetupTickets/getDEPINFO?Code=" + id,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (json) {
                    Data = json;
                    console.log(Data)
                    document.getElementById("NEWDepartment").value = Data.department
                    document.getElementById("NEWManager").value = Data.englishName
                    document.getElementById("Visibilty").value = Data.allowTickting
                    document.getElementById("txtDEPCode").value = Data.code

                }
            })
        }
        function DEPFilterVisibilty(id) {
            $.ajax({
                type: "POST",
                url: "/SetupTickets/DEPFilterVisibiltyChange?Code=" + id,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function myfunction(andrew) {
                    swal({
                        title: "Succes",
                        text: "The Visibilty of this department has been changed.",
                        type: "success"
                    }, function () {
                        window.location.reload();
                        location.reload();
                    });
                }
            })
        }

        $(document).ready(function () {
            $('.js-example-basic-multiple').select2();
            GetData();
        })
        function GetData() {
            $.ajax({
                type: "GET",
                url: "/SetupTickets/GETDALLOWDEPTOTICKET",
                contentType: "application/json;charset=utf-8",
                data: "{}",
                dataType: "json",
                success: function (json) {
                    Data = json;
                    console.log(Data);
                    DrawDataTable();;

                }
            })
        }
        function DrawDataTable() {



            var html = '<div class="table-responsive">'

            html += '<table class="table table-bordered table-striped mb-none" id="tbl_data" style=" width: -webkit-fill-available" cellspacing="0" >'

            html += '     <thead>'

            html += '      <tr >'

            html += '       <th  style="text-align:center" >Code</th>'

            html += '      <th  style="text-align:center" >Department</th>'

            html += '      <th  style="text-align:center" >Manager</th>'

            html += '      <th  style="text-align:center" >Visibilty</th>'

            html += '      <th  style="text-align:center" >Options</th>'

            html += '      </tr>'

            html += '      </thead>'

            html += '       <tbody>'

            html += '       </tbody>'

            html += '    </table>'

            html += ' </div >'

            $("#TableDIV").html(html);

            var table = $('#tbl_data').DataTable({

                "data": Data,

                "columns": [

                    { data: "code", "className": "hidden-xs hidden-sm" },

                    { data: "name", "className": "hidden-xs hidden-sm" },

                    { data: "englishName", "className": "hidden-xs hidden-sm" },

                    { data: "allowTickting", "className": "hidden-xs hidden-sm" },

                    {

                        "className": '',

                        "orderable": false,

                        "data": "ID",

                        "mRender": function (data, type, full) {

                            return '<div class="btn-group" style="text-align:center">' +

                                '<button type="button" class="btn btn-soft-secondary btn-icon btn-sm" title="Edit Status" data-toggle="modal" data-target="#DEPFilterEditModalCenter" onclick="openEdit(\'' + full.code + '\')" >Edit</button>' + '<button type="button" class="btn btn-soft-secondary btn-icon btn-sm" onclick="DEPFilterVisibilty(\'' + full.code + '\')" >Turn on/Off Visibilty</button>'
                            /*'<input type = "button" value = "Edit Status" data-toggle="modal" data-target="#EditStatus" onclick="ViewStatus(' + i + ')" class = "btn btn-sm btn-secondary">''</input>'*/

                        }

                    },
                ],

                "order": [[0, 'asc']],

            });

        }
        function EditSelectedDEPFilter() {
            var NEWDEP = document.getElementById("NEWDepartment").value;
            var NEWManager = document.getElementById("NEWManager").value;
            var visibilty = document.getElementById("Visibilty").value;
            var Code = document.getElementById("txtDEPCode").value;

            if (NEWDEP == -1 || NEWManager == -1 || visibilty == -1) {
                return swal({
                    title: "Error",
                    text: "Please Select From a List",
                    type: "Error"
                })
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/SetupTickets/EditDEPFilter?Code=" + Code + "&Department=" + NEWDEP + "&Manager=" + NEWManager + "&visibilty=" + visibilty,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function myfunction(andrew) {
                        swal({
                            title: "Succes",
                            text: "The Selected Department Filter Has succesfully been Updated",
                            type: "success"
                        }, function () {
                            window.location.reload();
                            location.reload();
                        });
                        $("#DEPFilterEditModalCenter").modal('hide');
                       document.getElementById("NEWDepartment").value = -1
                       document.getElementById("NEWManager").value = -1
                       document.getElementById("Visibilty").value = -1
                    }
                })

            }
            
           
        }
    </script>
</head>
<body>
    <div class="row">
        <div class="col-md-4 col-sm-2">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#DEPFilterCreateModalCenter">Create a new</button>
        </div>
    </div>
    <div class="modal fade" id="DEPFilterCreateModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Create A New Department Filter </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <dev class="row">
                            <div class="col-sm-4">
                                <label for="Department">Departments:</label>
                                <select class="js-example-basic-multiple" id="Department">
                                    <option value="-1">--Select A Department--</option>
                                    @foreach (var department in (IEnumerable<OctopaAudioApp.Models.Department>)ViewData["DepartmentsList"])
                                    {
                                        <option value="@department.Code">@department.Name</option>
                                    }
                                </select>
                            </div>
                        </dev>
                        <dev class="row">
                            <div class="col-sm-4">
                                <label for="Manager">Manager:</label>
                                <select class="js-example-basic-multiple" id="Manager">
                                    <option value="-1">--Select A Manager--</option>
                                    @foreach (var Manager in (IEnumerable<OctopaAudioApp.Models.Employee>)ViewData["ManagerList"])
                                    {
                                        <option value="@Manager.Code">@Manager.EnglishName</option>
                                    }
                                </select>
                            </div>
                        </dev>
                        <div>
                            @*@foreach (var User in (IEnumerable<IdentityUser>)ViewData["UsersList"])
        {
            <option value="@User.UserName">@User.UserName</option>
        }*@
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="button" id="btnSave" value="Save" class="btn btn-success" onclick="SaveNewDEPTicket()" />
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="DEPFilterEditModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Edit This Department Filter </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <label class="col-md-3">Department Filter Code:</label>
                            <input class="col-md-3" type="text" id="txtDEPCode" disabled="disabled" />
                        </div>
                        <dev class="row">
                            <div class="col-sm-4">
                                <label for="Department">Departments:</label>
                                <select class="js-example-basic-multiple" id="NEWDepartment">
                                    <option value="-1">--Select A Department--</option>
                                    @foreach (var department in (IEnumerable<OctopaAudioApp.Models.Department>)ViewData["DepartmentsList"])
                                    {
                                        <option value="@department.Code">@department.Name</option>
                                    }
                                </select>
                            </div>
                        </dev>
                        <dev class="row">
                            <div class="col-sm-4">
                                <label for="Manager">Manager:</label>
                                <select class="js-example-basic-multiple" id="NEWManager">
                                    <option value="-1">--Select A Manager--</option>
                                    @foreach (var Manager in (IEnumerable<OctopaAudioApp.Models.Employee>)ViewData["ManagerList"])
                                    {
                                        <option value="@Manager.Code">@Manager.EnglishName</option>
                                    }
                                    @*@foreach (var User in (IEnumerable<IdentityUser>)ViewData["UsersList"])
                                     {
                                         <option value="@User.UserName">@User.UserName</option>
                                      }*@
                                </select>
                            </div>
                        </dev>
                        <dev class="row">
                            <div class="col-sm-4">
                                <label for="Manager">Visibilty:</label>
                                @*<input checked="checked"
                                    id="isActive"
                                    name="isActive"
                                    type="checkbox"
                                    value="true" />*@
                                <select class="js-example-basic-multiple" id="Visibilty">
                                    <option value="-1">---SELECT---</option>
                                    <option value="false">No</option>
                                    <option value="true">Yes</option>
                                </select>
                            </div>
                        </dev>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="button" id="btnSave" value="Save" class="btn btn-success" onclick="EditSelectedDEPFilter()" />
                </div>
            </div>
        </div>
    </div>
    <div id="TableDIV" style="text-align:center"></div>
    @*<table class="table table-bordered table-hover" id="datatable-tabletools" style="text-align:center">
        <thead class="bg-dark">
            <tr>
                <th class="center">Code</th>
                <th class="center">Department</th>
                <th class="center">Manager</th>
                <th class="center">Visible</th>
                <th class="center">Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var DEPFilter in (IEnumerable<OctopaAudioApp.Models.SetupModels.AllowDEPToTicket>)ViewData["DepList"])
            {
                <tr>
                    <td id="lblCode">@DEPFilter.Code</td>
                    <td id="lblName">@DEPFilter.Department</td>
                    <td id="lblName">@DEPFilter.UserManage</td>
                    <td id="lblName">@DEPFilter.AllowTickting</td>
                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#DEPFilterEditModalCenter" onclick="openEdit(@DEPFilter.Code)">Edit</button></td>
                </tr>
            }
        </tbody>
        <tbody id="DEPFilterBody">
        </tbody>*@
    </table>
</body>
</html>