<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Adding An Item</title>

</head>
<body>
    <form>
        <table class="table table-bordered table-hover" style="text-align:center">
            <thead class="bg-dark">
                <tr>
                    <th>Serial Number</th>
                    <th>Brand</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Notes</th>
                    <th>Description</th>
                    <th>CPU</th>
                    <th>GPU</th>
                    <th>RAM</th>
                    <th>Storage</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in (IEnumerable<OctopaAudioApp.Models.SetupModels.Inputs>)ViewData["ItemListData"])
                {
                    <tr>
                        <td id="lblSN">@item.SerialNUmber</td>
                        <td id="lblBrand">@item.Brands</td>
                        <td id="lblType">@item.Types</td>
                        <td id="lblStatus">@item.Status</td>
                        <td id="lblNotes">@item.Notes</td>
                        <td id="lblDescription">@item.Description</td>
                        <td id="lblCpu">@item.Cpu</td>
                        <td id="lblGpu">@item.GPU</td>
                        <td id="lblRam">@item.Ram</td>
                        <td id="lblStorage">@item.Storage</td>
                    </tr>
                }
            </tbody>
        </table>
        <input type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#CreateNewItem" id="COnvertToArray" value="Create New Item" />
    </form>
    <div class="modal fade" id="CreateNewItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create New Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="SerialNumber">Serial Number:</label>
                            <input type="text" class="form-control" id="SerialNumberInput" />
                        </div>
                        <div class="form-group col-sm-4" >
                            <label for="Brands">Brands:</label>
                            <select id="Brands">
                                <option value="-1">--Select Brand--</option>
                                @foreach (var item in (IEnumerable<OctopaAudioApp.Models.SetupModels.AssetBrand>)ViewData["BrandListData"])
                                {
                                    <option value="@item.Code">@item.BrandName</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="Types">Types:</label>
                            <select id="Types">
                                <option value="-1">--Select Type--</option>
                                @foreach (var item in (IEnumerable<OctopaAudioApp.Models.SetupModels.AssetType>)ViewData["TypeListData"])
                                {

                                    <option id="TypeOptions" value="@item.Code">@item.TypeName</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="Status">Status:</label>
                            <select id="Status">
                                <option value="-1">--Select Status--</option>
                                @foreach (var item in (IEnumerable<OctopaAudioApp.Models.SetupModels.AssetStatus>)ViewData["StatusListData"])
                                {
                                    <option value="@item.Code">@item.StatusName</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Description">Description</label>
                            <textarea class="form-control" id="Description" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="Notes">Notes</label>
                            <textarea class="form-control" id="Notes" rows="3"></textarea>
                        </div>
                        <div class="form-group" id="ShowToLaptop" style="visibility:hidden">
                            <div class="form-group col-sm-6">
                                <label>CPU:</label>
                                <input type="text" class="form-control" id="CPU" />
                            </div>
                            <div class="form-group col-sm-6">
                                <label>GPU:</label>
                                <input type="text" class="form-control" id="GPU" />
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Ram:</label>
                                <input type="text" class="form-control" id="Ram" />
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Storage:</label>
                                <input type="text" class="form-control" id="Storage" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="button" class="btn btn-sm btn-success" onclick="ConvertToArray()" id="COnvertToArray" value="Create New Item" />
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script>
        function ConvertToArray() {
            var type = $('#Types :selected').text();
            var div = $(this);
            var Data = {};
            Data.SerialNUmber = document.getElementById("SerialNumberInput").value;
            Data.Brands = document.getElementById("Brands").value;
            Data.Types = document.getElementById("Types").value;
            Data.Cpu = document.getElementById("CPU").value;
            Data.GPU = document.getElementById("GPU").value;
            Data.Ram = document.getElementById("Ram").value;
            Data.Storage = document.getElementById("Storage").value;
            Data.Status = document.getElementById("Status").value;
            Data.Description = document.getElementById("Description").value;
            Data.Notes = document.getElementById("Notes").value;
            if (Data.Brands == "-1" || Data.Status == "-1" || Data.Types == "-1") {
                alert("sorry Some of the inputs Are Empty, please fill all Inputs")
            }
            else if (type == "Laptop")
            {
                if (Data.Cpu == "" || Data.GPU == "" || Data.Ram == "" || Data.Storage == "") {
                    alert("sorry Some of the laptop information Are Empty, please fill all the Laptop Info")
                }
                else {

                    console.log(Data);
                    var DataToSend = { Data }
                    $.ajax({
                        type: 'POST',
                        url: '/SetupAssetd/SaveInputData',
                        data: JSON.stringify(DataToSend),
                        contentType: 'application/json; charset=utf-8',
                        datatype: 'json',
                        success: function (result) {
                            alert('Success ');
                        },
                        error: function (result) {
                            alert('Fail ');
                        }
                    });

                }
            }
            else
            {
                console.log(Data);
                var DataToSend = { Data }
                $.ajax({
                    type: 'POST',
                    url: '/SetupAssetd/SaveInputData',
                    data: JSON.stringify(DataToSend),
                    contentType: 'application/json; charset=utf-8',
                    datatype: 'json',
                    success: function (result) {
                        alert('Success ');
                    },
                    error: function (result) {
                        alert('Fail ');
                    }
                });
            }

        }
    $(document).ready(function () {
        $("#Types").change(function () {
            var type = $('#Types :selected').text();
            console.log(type);
            if (type=="Laptop") {
                document.getElementById("ShowToLaptop").style.visibility = "visible";


            }
            else {
                document.getElementById("ShowToLaptop").style.visibility = "hidden";

            }
        });
    });
    //function ShowMoreOptions() {
    //    var Select = document.getElementById("Types");
    //    var ShowToLaptop = document.getElementById("ShowToLaptop");
    //    var TypeOptions = document.getElementById("TypeOptions");
    //    Select.addEventListener("change", function HandleChange(event) {
    //        if (event.target.name === "Laptop") {
    //            document.getElementById("ShowToLaptop").style.visibility = "visible";

    //        } else {
    //            ShowToLaptop.style.display = "hidden";
    //        }
    //    });
    //}
</script>
